@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "segoeUI";
    src: url('./assets/fonts/SegoeUI.ttf');
}

@font-face {
    font-family: "poppins";
    src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: "fallingSky";
    src: url('./assets/fonts/FallingSky.otf');
}

@font-face {
    font-family: "sfPro";
    src: url('./assets/fonts/SF-Pro.OTF');
}

@keyframes movingEllipse{
    0%{
        border-radius: 70% 100% 70% 100%;
        
    }
    12.5%{
        border-radius: 70% 70% 70% 90%;
     
    }
    25%{
        border-radius: 100% 70% 100% 70%;
        
    }
    37.5%{
        border-radius: 90% 70% 70% 70%;
    }
    50%{
        border-radius: 70% 100% 70% 100%;
        
    }
    62.5%{
        border-radius: 70% 90% 70% 70%;
              
    }
    75%{
        border-radius: 100% 70% 100% 70%;
         
    }
    87.5%{
        border-radius: 70% 70% 90% 70%;
      
    }
    100%{
        border-radius: 70% 100% 70% 100%;
         
    }

}

@keyframes bounce {
    0%{
        translate: -1000%;
    }100%{
        translate: 1000%;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-color: black }
    50% { border-color: white; }
}

@keyframes slide-in{
    from{
        opacity: 0;
        translate: -30px;
    }
    to{
        opacity: 1;
        translate: 0;
    }
}

@keyframes slide-right{
    from{
        opacity: 0;
        translate: 30px;
    }
    to{
        opacity: 1;
        translate: 0;
    }
}

@keyframes slide-top{
    from{
        opacity: 0;
        translate: 0 -30px;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slide-bottom{
    from{
        opacity: 0;
        translate: 0 30px;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}

.slide{
    animation: slide-in 1.5s linear 1 normal;
}

.slide-top{
    animation: slide-top 1.5s linear 1 normal;
}

.slide-bottom{
    animation: slide-bottom 1.5s linear 1 normal;
}

.slide-right{
    animation: slide-right 1.5s linear 1 normal;
}

.blinking-bar{
    animation: typing 1.2s steps(30) 1 normal;
}
.blinking-bar-slowtype{
    animation: typing 1.6s steps(30) 1 normal;
}

.bounceEff{
    animation: bounce 5s linear infinite;
}
.bounceEffRev{
    animation: bounce 5s linear reverse infinite;
}


.active{
    color: rgb(69, 199, 199);
    text-decoration: underline;
    text-decoration-color: rgb(26, 157, 157);
}

.act{
    background-color: rgb(54, 169, 169);
    color: white;
}

.custom-close-button .ant-modal-close-x {
    color: white;
}